@media (min-width: 0px) and (max-width: 550px) {
	.container {
		width: 85%;
		padding: 0;
		margin-top: 10%;
	}
	.about {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	.about p {
		font-size: 1em;
	}
	#bgCircle {
		height: 2.4em;
		width: 2.4em;
		background: #A7383E;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: block;
		top: 0.34em;
		left: 0.6em;
		position: absolute;
		z-index: 1;
	}
	#burgerToggle {
		display: block;
		position: absolute;
		top: 1em;
		left: 1em;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}
	#burgerToggle input {
		display: block;
		width: 4em;
		height: 2em;
		position: absolute;
		cursor: pointer;
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */
		-webkit-touch-callout: none;
	}
	#burgerToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: white;
		box-shadow: 2px 3px #252525;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.2s ease;
	}
	#burgerToggle span:first-child {
		transform-origin: 0% 0%;
	}
	#burgerToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}
	#burgerToggle input:checked ~ span {
		transform: rotate(45deg) translate(-2px, -1px);
	}
	#burgerToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	#burgerToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}
	#burger {
		position: absolute;
		width: 17em;
		margin: -100px 0 0 -50px;
		padding-left: 50px;
		padding-right: 25px;
		padding-top: 120px;
		padding-bottom: 20px;
		background: #252525;
		font-color: #A7383E;
		color: #A7383E;
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: .2rem;
		margin-right: 35px;
		/*line-height: 6.5rem;*/
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#burger a {
		text-transform: uppercase;
		text-decoration: none;
	}
	#burger ul {
		padding: 1em 0;
		width: 100%;
		background: #eee;
		z-index: 100;
		background-color: #252525;
	}
	#burger li {
		border-bottom: 1px solid #A7383E;
		margin-bottom: 2em;
	}
	#burgerToggle input:checked ~ ul {
		transform: none;
	}
	.extra, .navbar, .navbar-spacer, #dog_pic {
		display: none;
	}
	.mobile {
		display: block;
	}
	#main_pic {
		position: relative;
		top: 0px;
	}
	.header {
		padding-top: 20px;
	}

	#cabins, #parking {
		max-width: 100%;
	}

	#play_pic img {
		max-width: 100%;
	}
}
