/* Grid */
.container {
	position: relative;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
	font-size: 62.5%;
	background-color: #A7383E;
	color: #eee;
}
body {
	font-size: 2em;
	line-height: 1.6;
	font-family: 'Libre Baskerville', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*background-image: linear-gradient(#570016, #BC6F76);*/

}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
    font-family: 'Merienda One', cursive;
	font-weight: 300;
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
p {
	margin-top: 0;
}

/* Links */
a {
	color: #cdec9c;
}
a:hover {
	color: #d7f8a1
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #222;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #333;
	border-color: #888;
	outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #eee;
	background-color: #570016;
	font-weight: normal;
	border-color: #678636;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: #eee;
	background-color: #678636;
	font-weight: bold;
	border-color: #570016;
}

/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #444;
	color: #eee;
	border: 1px solid #570016;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #678636;
	outline: 0;
}
label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

/* Lists */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 1.5rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}

/* Code */
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

/* Tables */
th, td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}
th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child,
td:last-child {
	padding-right: 0;
}

/* Spacing */
button, .button {
	margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form,
{
	margin-bottom: 2.5rem;
}

/* Utilities */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right {
	text-align: right;
	float: right;
}
.u-pull-left {
	text-align: left;
	float: left;
}

/* Misc */
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-width: 0;
}

/* Self clearing */
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}
/* Extras */
.header {
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: left;
}
.site-section {
	/*border-top: 1px solid #eee;*/
	margin: auto;
	padding: 0rem 0;
}
.heading-font-size {
	font-size: 1.2rem;
	color: #999;
	letter-spacing: normal;
}
.res-head {
	text-align: center;
	margin-bottom: 2em;
}
.langs {
	margin-left: 0.8em;
}
.resume p {
	margin: 0;
}
.resume ul {
	margin-top: 0.3em;
	margin-bottom: 2em;
}
.resume li {
	margin: 0.2em;
}
.resume td {
	padding: 10px;
}
blockquote {
	font-style: italic;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}
.icons {
	text-align: center;
}
.icon {
	position: relative;
	margin-bottom: 3rem;
	margin-right: 1rem;
	width: 10%;
	height: 10%;
	fill: #eee;
}
.about {
    font-family: 'Merienda One', cursive;
	font-size: 1.5em;
	padding: 0;
	border-top: none;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #570016;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 5px solid #678636;
}
.about p {
	border-bottom: none;
}
.about img {
	vertical-align: middle;
	max-width: 5em;
	align: left;
	padding-right: 20px;
	display: inline-block;
	flex: 1;
}
.anchorpoint {
	display: block;
	padding-top: 50px;
	margin-top: -50px;
}

.pic_section {
	display: block;
}

#main_pic {
	max-width: 100%;
	margin: auto;
	/*margin-right: 30%;
	margin-bottom: -100%;
	border-radius: 50%;*/
	display: block;
}

#dog_pic {
	max-width: 15em;
	float: right;
	margin-right: 15%;
	margin-bottom: -100%;
	margin-top:-5%;
	border-radius: 20%;
	display: block;
}

#countdown {
	margin-top: 20px;
	margin-bottom: 0;
	font-family: 'Libre Baskerville', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#map {
	margin-top: 20px;
	max-width: 100%;
	max-height: 100%;
	width: 900px;
	height: 400px;
	z-index: 1;
}

.tinder_prof {
	padding-left: 30px;
	padding-right: 30px;
}

#tinder {
	margin: auto;
	text-align: center;
}

#tinder img {
	max-width: 100%;
}

#tinder p, .travel p {
	text-align: left;
}

#cabins, #parking {
	max-width: 600px;
}

#play_pic {
	margin: auto;
	text-align: center;
}

#play_pic img {
	max-width: 500px;
}

.rsvp_form {
	margin: auto;
	text-align: center;
}

.rsvp_table {
	margin: auto;
	text-align: center;
	border: 4px solid white;
}

.rsvp_table td {
	padding-left: 1em;
	padding-right: 1em;
	max-width: 100%;
	border: none;
}

.rsvp_table input  {
	min-width: 100%;
}
